In [ ]:
import numpy as np

a = np.array([1, 2, 3, 4, 5])
print(np.sum(a))

15

In [ ]:
a = np.array([2, 1, 2, 1, 2])
b = np.array([1, 2, 1, 2, 1])

print(np.sum(a * b))

10

In [ ]:
print('3の3乗は', 3**3)
print('5の5乗は', 5**5)
print('-5の2乗は', -5**2)
print('-0.2の3乗は{:.3f}'.format(-0.2**3))

3の3乗は 27
5の5乗は 3125
-5の2乗は -25
-0.2の3乗は-0.008

ネイピア数（2.7182818...）をNumpyの定数を使ってprintで表示しましょう

*   Numpyでeを使って取得
*   ネイピア数の累乗をNumpyのexp関数で実装

In [ ]:
import numpy as np

# ネイピア数
print(np.e)
# eの1乗
print(np.exp(1))

2.718281828459045
2.718281828459045

①テキストP69を参考に自然対数を取得する関数を定義してみよう。

②1の自然対数、10の自然対数、eの自然対数を表示しましょう。

In [ ]:
import numpy as np

def get_log(x):
  return np.log(x)

print(get_log(1))
print(get_log(10))
print(get_log(np.e))

0.0
2.302585092994046
1.0

**Pythoの数値表現の補足**

1.2e5 → 1.2 * 10の5乗 → 1.2* 100000 → 120000

0.5e-1 → 0.5 * 10のマイナス1乗 → 0.5 * 0.1 → 0.05

変数 a に 200000
変数 b に 15000000
変数 c に 500000 
変数 d に 0.04 を代入しそれぞれprintで表示しなさい。

ただし、e表記を使って代入すること。

In [ ]:
a = 2e5
b = 1.5e7
c = 0.5e6
d = 0.4e-1

print(a)
print(b)
print(c)
print(d)

200000.0
15000000.0
500000.0
0.04

**ベクトル**

Numpyのarrayを使って、以下の要素を持つベクトルを定義し、printで表示してください。

11,12,13,14,15,16,17,18,19,20

※可能な人はrangeを使ってベクトルの定義を行いましょう。

In [ ]:
a = np.array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
b = np.array(range(11, 21))

print(a)
print(b)

[11 12 13 14 15 16 17 18 19 20]
[11 12 13 14 15 16 17 18 19 20]

**行列**

Numpyのarrayを使って、以下のような行列を定義し、printで表示してください。

![image.png]()

In [ ]:
a = np.array([[1, 3, 5, 7], [9, 11, 13, 15], [17, 19, 21, 23]])
print(a)

b = np.array(range(1, 24, 2))
c = b.reshape([3, 4])
print(np.array(c))

[[ 1  3  5  7]
 [ 9 11 13 15]
 [17 19 21 23]]
[[ 1  3  5  7]
 [ 9 11 13 15]
 [17 19 21 23]]

Numpyを使った行列積

①以下のとおりの行列を定義する。

a = 
![image.png]()

b = ![image.png]()

aとbの行列積をdot関数を使って求め、結果をprintで表示してください。

In [ ]:
a = np.array([[1, 2],
              [3, 4]])
b = np.array([[5, 6],
              [7, 8]])

print(np.dot(a, b))
# かける数とかけられる数が逆になると答えが変わる
print(np.dot(b, a))

[[19 22]
 [43 50]]
[[23 34]
 [31 46]]